<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stereocreditmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".transferActivity"></activity>
        <activity android:name=".calcActivity" />
        <activity android:name=".mohanActivity" />
        <activity android:name=".navneetActivity" />
        <activity android:name=".shivaActivity" />
        <activity android:name=".vibhorActivity" />
        <activity android:name=".sanuActivity" />
        <activity android:name=".tajasActivity" />
        <activity android:name=".vinayActivity" />
        <activity android:name=".amitActivity" />
        <activity android:name=".amanActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>